Repository ekgns33/SimpleJavaGame, pull requests merged in 2024-10, with the labels that each got.

#6 [Feat/Map] : Make Map Frame
  client/src/main/java/org/kunp/Main.java
  client/src/main/java/org/kunp/Map.java
  client/src/main/java/org/kunp/MapPanel.java
  client/src/main/java/org/kunp/Player.java
  client/src/main/resources/normal.png
  client/src/main/resources/portal.png
  client/src/main/resources/tagger.png
Labels: size/L, :rocket: feature :rocket:, 💡 client 💡

#7 [Feat/implement-request-handler] : Implement Handling TCP Socket Connections
  .github/PULL_REQUEST_TEMPLATE.md
  server/src/main/java/org/kunp/Main.java
  server/src/main/java/org/kunp/ServerConstant.java
  server/src/main/java/org/kunp/Servlet/ClientHandler.java
  server/src/main/java/org/kunp/Servlet/ConnectionConfigurer.java
  server/src/main/java/org/kunp/Servlet/GameContext.java
  server/src/main/java/org/kunp/Servlet/NativeConnectionConfigurer.java
  server/src/main/java/org/kunp/Servlet/Reactor.java
  server/src/main/java/org/kunp/Servlet/SocketDisconnectCallback.java
  server/src/main/java/org/kunp/Servlet/aop/CatchGlobally.java
  server/src/main/java/org/kunp/Servlet/aop/ErrorHandlingAspect.java
  server/src/main/java/org/kunp/Servlet/message/Message.java
  server/src/main/java/org/kunp/Servlet/session/ISessionIdGenerator.java
  server/src/main/java/org/kunp/Servlet/session/Session.java
  server/src/main/java/org/kunp/Servlet/session/SessionIdGenerator.java
  server/src/main/java/org/kunp/Servlet/session/SessionInMemoryStorage.java
  server/src/main/java/org/kunp/Servlet/session/SessionManager.java
  server/src/main/java/org/kunp/Servlet/session/SessionStorage.java
  server/src/main/java/org/kunp/ValidateUtils.java
  server/src/test/java/org/kunp/ConnectionTest.java
Labels: size/XL, :rocket: feature :rocket:, :zap: server :zap:

#8 [Feat/Map] : Revise Map Frame
  client/src/main/java/org/kunp/Map.java
  client/src/main/java/org/kunp/MapPanel.java
  client/src/main/java/org/kunp/Player.java
Labels: 💡 client 💡

#10 [Feat/Client/Implement-Request-Move] : player moving 서버/클라이언트 통신 구현
  client/src/main/java/org/kunp/Client.java
  client/src/main/java/org/kunp/Main.java
  client/src/main/java/org/kunp/Map.java
  client/src/main/java/org/kunp/MapPanel.java
  client/src/main/java/org/kunp/Player.java
Labels: size/L, :rocket: feature :rocket:, 💡 client 💡
