Repository ekgns33/SimpleJavaGame, pull requests merged in 2024-11, with the labels that each got.

#11 [Feat/client/implement-request-move] : change player id
  client/src/main/java/org/kunp/Client.java
  client/src/main/java/org/kunp/Map.java
  client/src/main/java/org/kunp/MapPanel.java
  client/src/main/java/org/kunp/Player.java
Labels: size/M, 💡 client 💡

#13 feat/client/sync-locations
  client/src/main/java/org/kunp/Client.java
  client/src/main/java/org/kunp/Location.java
  client/src/main/java/org/kunp/Main.java
  client/src/main/java/org/kunp/Map.java
  client/src/main/java/org/kunp/MapPanel.java
  client/src/main/java/org/kunp/Player.java
Labels: size/L, 💡 client 💡

#20 feat : implement waiting-room enter, listing participants
  client/src/main/java/org/kunp/InnerWaitingRoomComponent.java
  client/src/main/java/org/kunp/InnerWaitingRoomListPanel.java
  client/src/main/java/org/kunp/IntterWaitingRoomControlPanel.java
  client/src/main/java/org/kunp/Player.java
  client/src/main/java/org/kunp/WaitingRoomComponent.java
  client/src/main/java/org/kunp/WaitingRoomCreationPanel.java
  client/src/main/java/org/kunp/WaitingRoomListPanel.java
  server/src/main/java/org/kunp/Servlet/RequestHandler.java
  server/src/main/java/org/kunp/Servlet/game/GameContext.java
  server/src/main/java/org/kunp/Servlet/game/GameContextRegistry.java
  server/src/main/java/org/kunp/Servlet/game/GameRequestHandler.java
  server/src/main/java/org/kunp/Servlet/menu/MenuRequestHandler.java
  server/src/main/java/org/kunp/Servlet/menu/WaitingRoomContext.java
  server/src/main/java/org/kunp/Servlet/menu/WaitingRoomRegistry.java
  server/src/main/java/org/kunp/Servlet/message/GameMessage.java
  server/src/main/java/org/kunp/Servlet/message/MenuMessage.java
  server/src/main/java/org/kunp/Servlet/message/Message.java
Labels: size/XL

#23 [Feat/client/implement-waiting-room-protocol] 프로토콜 반영 및 대기실 ui 변경 구현
  client/src/main/java/org/kunp/Client.java
  client/src/main/java/org/kunp/IntterWaitingRoomControlPanel.java
  client/src/main/java/org/kunp/WaitingRoomListPanel.java
  client/src/main/java/org/kunp/inner/InnerWaitingRoomComponent.java
  client/src/main/java/org/kunp/inner/InnerWaitingRoomControlPanel.java
  client/src/main/java/org/kunp/inner/InnerWaitingRoomListPanel.java
  client/src/main/java/org/kunp/map/Constants.java
  client/src/main/java/org/kunp/map/Location.java
  client/src/main/java/org/kunp/map/Map.java
  client/src/main/java/org/kunp/map/MapPanel.java
  client/src/main/java/org/kunp/map/Player.java
  client/src/main/java/org/kunp/server/ServerProtocol.java
  client/src/main/java/org/kunp/waiting/WaitingRoomComponent.java
  client/src/main/java/org/kunp/waiting/WaitingRoomCreationPanel.java
  client/src/main/java/org/kunp/waiting/WaitingRoomListPanel.java
Labels: size/XL, 💡 client 💡

#24 [Feat/client/implement-waiting-room-protocol] 대기실 관련 ui 변경 오류사항 수정
  client/src/main/java/org/kunp/Client.java
  client/src/main/java/org/kunp/inner/InnerWaitingRoomComponent.java
  client/src/main/java/org/kunp/inner/InnerWaitingRoomControlPanel.java
  client/src/main/java/org/kunp/server/ServerProtocol.java
  client/src/main/java/org/kunp/waiting/WaitingRoomComponent.java
  client/src/main/java/org/kunp/waiting/WaitingRoomCreationPanel.java
  client/src/main/java/org/kunp/waiting/WaitingRoomListPanel.java
Labels: size/XL, 💡 client 💡
